/* p{
  position: static;
} */

div{
  display: inline-block;
  width: 150px;
  height: 150px;
  background-color: aqua;
  border: 1px solid black;
}
.box{
  margin-top: 100px;
}
/* #box3{
  position: relative;
  top:100px;
  left:100px;
} */
#box1{

  margin-top:0px;
  width: 100vw;
  height: 50px;
  background-color: blanchedalmond;
  position: fixed;
}
 .wrapper{
  height: 2000px;
  width:100vw;
  background-color: yellow;
 }
 #box4{
  position: sticky;
  top:60px;
 }
 